* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: auto;
  background-color: #d2bbeb;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding-top: 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.input {
  height: 30px;
  width: 200px;
  border-color: #dc48c1;
  background-color: #e7d6e4;
  border-radius: 10px;
}
.button {
  height: 25px;
  width: 50px;
  border-radius: 10px;
}
.search_section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hidden {
  display: none !important;
}
.pokemon_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 120px;
}
.pokemon > img {
  width: 96px;
  height: 96px;
}
.pokemon > span {
  text-transform: capitalize;
  font-weight: 600;
}
.pokemon_detail {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  font-size: 1.2rem;
  color: #ffffff;
}
.pokemon_detail > img {
  width: 250px;
  height: 250px;
}
.pokemon_detail > span {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2.5rem;
  color: #ffffff;
}
.pokemon_detail .close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  border-style: none;
  color: #5553c3;
  cursor: pointer;
}
.pokemon_detail > p {
  text-align: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__list {
  display: flex;
  list-style: none;
  gap: 150px;
}
